/*
Buttons for main menu.
 */
.menuButton {

    -fx-pref-width: 300;
    -fx-pref-height: 40;

    -fx-border-radius: 4;

    -fx-background-color: white;
    -fx-border-color: #747474;

}
.menuButton:hover {
    -fx-background-color: #d6d6d6;
}

/*
Title of the game in main menu.
 */
#title {
    -fx-font-size: 40px;
}